.DS_Store
Thumbs.db

node_modules/
apps/**/node_modules/

.next/
apps/**/.next/
next-env.d.ts
dist/
!apps/widget/
!apps/widget/dist/
!apps/widget/dist/perch.js
build/
coverage/
out/

target/

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.local
.env.*.local

.idea/
.vscode/
*.swp
*.swo

.turbo/
.vercel/
.cache/
